/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for breseq and gdtools module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'BRESEQ' {
        ext.args   = { params.breseq_args ?: '' }
        ext.prefix = { "${meta.id}" }
        ext.when   = { params.tools && params.tools.split(',').contains('breseq') }
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/breseq/${meta.id}/output/" },
                pattern: "*/output/**",
                saveAs: { filename -> filename.split('/output/')[1] }
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/variant_calling/breseq/${meta.id}/" },
                pattern: "*/data/annotated.gd",
                saveAs: { "annotated.gd" }
            ]
        ]
    }

    withName: 'GDTOOLS_CONVERT' {
        ext.prefix = { "${meta.id}" }
        publishDir = []
    }

    withName: 'BRESEQ_SUMMARY_MQC' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/breseq/${meta.id}/" },
            pattern: "*.breseq_mqc.tsv"
        ]
    }

    withName: 'TABIX_BGZIPTABIX_BRESEQ' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/breseq/${meta.id}/" },
            pattern: "*.{vcf.gz,vcf.gz.tbi}"
        ]
    }
}
