# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.pickle

# Virtual environment folders
.venv/
venv/
env/
ENV/
env.bak/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local runtime files
*.log
*.out
*.err
*.bak

# Nextflow work and cache directories
work/
work_CENPK/
.nxf*
.nextflow*
trace.txt
timeline.html
report.html
dag.png
*.dot

# VSCode and JetBrains IDE settings
.vscode/
.idea/

# Test/coverage tools
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

# Temporary files and backups
*~
*.swp
*.swo
*.tmp

# Custom secrets or credentials
secrets.env
credentials.json


data/*
!data/data_a_paper/
data/data_a_paper/*
!data/data_a_paper/sub_sample/
*/output/*
output/*
*/out/
output_all/*
output_NCYC495/
output_quick_test_NCYC495/
work_CENPK/
work_NCYC495/