// Minimal config for standalone igvreports test run
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    withName: 'IGVREPORTS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy'
        ]
        ext.args = [
            '--info-columns FILTER AC AF AN DP FS MQ QD SOR',
            '--sample-columns GT AD DP GQ',
            '--title "Joint HaplotypeCaller - Yeast ALE"',
            '--flanking 500'
        ].join(' ')
    }
}
