/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for Mutect2 filtering modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    
    // Tumor-normal variant filtering - must be more specific than generic BCFTOOLS_FILTER
    withName: '.*VCF_FILTER_MUTECT2:BCFTOOLS_FILTER_SOMATIC' {
        ext.prefix = { "${meta.id}" }
        ext.args = [
            '--include',
            '"INFO/DP>=15',                                 // min depth
            '& INFO/DP<=300',                               // avoid extreme depth
            '& INFO/TLOD>=3',                               // tumor LOD support for variant presence (lowered threshold)
            '& (INFO/MMQ[0]>=20 & INFO/MMQ[1]>=20)"'        // mapping quality for ref and alt (Number=R)
        ].join(' ')
        
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling_filtered/mutect2/${meta.id}/" },
            pattern: "*.vcf.gz*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    

    

}